extends layout

block content
	div.container
		form.form-inline(method="post", action="/upload", enctype="multipart/form-data")
			span.btn.btn-default.btn-file
				input(type="file", name="image", id="fileToUpload" accept="image/*" required)
			input.btn.btn-primary.btnSubmit(type="submit", value="Upload Image", name="submit")
		div#contents
	script(src="/javascripts/index.js")
