body {
	text-align: center;
	margin-top: 20px;
	background-color: rgb(240,240,240);
}
img {
	margin-top: 20px;
	max-width: 600px;
	margin-bottom: 10px;
}
.descriptions {
	width: 100%;
	background-color: rgb(230,230,230);
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 10px;
}
.contents {
	margin-top: 10px;
}